{{#extends "base"}}
{{#block "content"}}
<h1>
    Welcome to HealthyEatsOnline
</h1>
<img class="w-100" src="https://thumbs.dreamstime.com/z/online-shop-landing-page-promoting-healthy-food-online-shop-landing-page-promoting-healthy-food-cartoon-happy-man-smiling-kid-154376124.jpg"></img>
<a href="products" class="btn btn-sm btn-primary mt-3">Products</a>
{{/block}}
{{/extends}}