{{#extends 'base'}}

{{#block 'content'}}
<h1>Login</h1>
<p>Please login with your account below!</p>
<form method="POST">
    {{{form}}}
    <input type="hidden" value="{{csrfToken}}" name="_csrf" />
    <input type="submit" class="btn btn-primary" value="Login" />
</form>

<div>
    <h4>No account? Sign up here</h4><a href="/users/signup" class="btn btn-sm btn-primary">Register</a>
</div>

{{/block}}

{{/extends}}